/.AnnotationTests.java._trace
/.AnnotationsTest.java._trace
/.CompilerTest.java._trace
/.ContentAssistTest.java._trace
/.OrganizeImportsTest.java._trace
/.ParserTest.java._trace
/.ValidationTests.java._trace
/.XbaseIntegrationTest.java._trace
/AnnotationTests.java
/AnnotationsTest.java
/CompilerTest.java
/ContentAssistTest.java
/OrganizeImportsTest.java
/ParserTest.java
/ValidationTests.java
/XbaseIntegrationTest.java
